@import "src/styles/main";

.app-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 20px;
    cursor: pointer;
    transition: all linear 150ms;
}

.app-btn:hover {
    transform: scale(1.050);
}

.app-btn-outline {

}

.app-btn-plain {

}
