@import "src/styles/main";

.app-card {
    background-color: $color-white;
    box-shadow: 0 3.32571px 14.9657px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 12px;
}

.app-card.flat {
    background-color: $color-striped;
    padding: 24px !important;
    box-shadow: none;
}

.app-card.dark {
    background-color: $color-primary;
    color: $color-white !important;
}

.badge-position {
    position: absolute;
    right: 12px;
    top: 12px;
}
