@import 'src/frontend-elements/styles/main';

.account-qr-container {
    background-color: $color-white;
    padding: 8px;
    border-radius: 15px;
    width: 96px;
    height: 96px;
}

.app-pie-container {
    max-height: 150px;
    max-width: 150px;
}

.app-dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.app-dot.green {
    background-color: $color-dot-green;
}

.app-dot.orange {
    background-color: $color-dot-orange;
}

.app-dot.blue {
    background-color: $color-dot-blue;
}

.app-dot.cyan {
    background-color: $color-dot-cyan;
}

.app-dot.grey {
    background-color: $color-dot-grey;
}

.app-dot.yellow {
    background-color: $color-dot-yellow;
}

.app-dot.red {
    background-color: $color-dot-red;
}

.help {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
}

//@media (prefers-color-scheme: dark) {
//    .help {
//        background-color: $color-white;
//        color: $color-primary;
//    }
//}
