@import "../../../design-components/styles/main";

.search-container {
    width: 400px;
}

@include media-breakpoint-down(xxl) {
    .search-container {
        width: 370px;
    }
}

@include media-breakpoint-down(xl) {
    .search-container {
        width: 300px;
    }
}

@include media-breakpoint-down(lg) {
    .search-container {
        width: 260px;
    }
}

@include media-breakpoint-down(md) {
    .search-container {
        width: 400px;
    }
}

@include media-breakpoint-down(sm) {
    .search-container {
        width: 250px;
    }
}
