@import 'src/frontend-elements/styles/main';

p.rank {
    font-size: $font-xxl;
    font-weight: $medium;
}

p.top-rank {
    font-size: $font-xxl;
    font-weight: $black;
}

.validator-logo {
    width: 72px;
    height: 72px;
}

.rank-dot-container {
    position: absolute;
    right: -6px;
    top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 3.5px 15px rgba(0, 0, 0, 0.2);
}

.rank-dot-text {
    color: $color-type;
    font-weight: $bold;
    font-size: $font-md;
    z-index: 2;
}

.genesis-flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background-color: $color-dark-background;
}

.genesis-flag-container-big {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    color: white;
    border-radius: 18px;
    background-color: $color-dark-background;
}

@include media-breakpoint-down(md) {
    p.rank,
    p.top-rank {
        font-size: $font-lg;
    }
}
