@import "src/styles/main";

.app-table-striped>tbody>tr:nth-child(odd)>td,
.app-table-striped>tbody>tr:nth-child(odd)>th {
    background-color: $color-striped;
}

@media (prefers-color-scheme: dark) {
    .app-table-striped>tbody>tr:nth-child(odd)>td,
    .app-table-striped>tbody>tr:nth-child(odd)>th {
        background-color: $color-dark-striped;
    }

    table {
        color: $color-white !important;
    }
}

.table th:first-child,
.table th:last-child,
.table td:first-child,
.table td:last-child
{
    padding-left: 48px;
    padding-right: 48px;
}

.table th {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.table td {
    vertical-align: middle;
    height: 48px;
}

@include media-breakpoint-down(xl) {
    .table th:first-child,
    .table th:last-child,
    .table td:first-child,
    .table td:last-child {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@include media-breakpoint-down(md) {
    table.table thead {
        display: none;
    }

    table.table tr {
        display: block;
        margin: 12px 0;
    }

    table.table td {
        display: block;
        text-align: right;
        height: 40px;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    table.table td:before {
        content:attr(data-label);
        float: left;
        font-weight: $medium;
    }
}
