@import "src/styles/main";

.app-table-striped>tbody>tr:nth-child(odd)>td,
.app-table-striped>tbody>tr:nth-child(odd)>th {
    background-color: $color-striped;
}

@media (prefers-color-scheme: dark) {
    .app-table-striped>tbody>tr:nth-child(odd)>td,
    .app-table-striped>tbody>tr:nth-child(odd)>th {
        background-color: $color-dark-striped;
    }

    table {
        color: $color-white !important;
    }
}


td {
    vertical-align: middle;
    height: 48px;
}

@include media-breakpoint-down(md) {
    table.table thead {
        display: none;
    }

    table.table tr {
        display: block;
        margin: 12px 0;
    }

    table.table td {
        display: block;
        text-align: right;
        height: 40px;
    }

    table.table td:before {
        content:attr(data-label);
        float: left;
        font-weight: $medium;
    }
}
