@import "src/styles/main";

.main-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: $color-background;
    padding-top: 112px;
}

.main-layout .content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.main-layout .active-link {
    opacity: 1 !important;
    font-weight: $semibold;
    padding-bottom: 4px;
    border-bottom: $color-white solid 3px;
}

.main-layout .link {
    color: $color-white;
    opacity: 0.6;
    text-decoration: none;
    font-size: $font-lg;
    display: flex;
    align-items: center;
}

.main-layout .logo {
    color: $color-white;
    display: flex;
    align-items: center;
}

.main-layout img.icon-nav {
    height: 18px;
    width: 18px;
    margin-right: 6px;
}

.main-layout .logo img {
    height: 28px;
    width: 28px;
    margin-right: 6px;
}

.main-layout ul {
    background-color: $color-primary;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

.main-layout ul.footer {
    display: none;
}

footer {
    display: flex;
    background-color: $color-primary;
    flex-shrink: 0;
    min-height: 100px;
}

@include media-breakpoint-down(xxl) {
    .main-layout .link {
        font-size: $font-md;
    }

    .main-layout img.icon-nav {
        height: 16px;
        width: 16px;
        margin-right: 5px;
    }
}

@include media-breakpoint-down(xl) {
    .main-layout .link {
        font-size: $primary-fs;
    }

    .main-layout img.icon-nav {
        height: 14px;
        width: 14px;
        margin-right: 4px;
    }
}

@include media-breakpoint-down(lg) {
    .main-layout .logo.nav-logo > h1 {
        display: none;
    }
    .main-layout .link {
        font-size: $font-sm;
    }

    .main-layout img.icon-nav {
        height: 12px;
        width: 12px;
        margin-right: 3px;
    }
}

@include media-breakpoint-down(md) {
    .main-layout {
        padding-top: 72px;
        padding-bottom: 100px;
    }

    .main-layout ul {
        justify-content: center;
        height: 60px;
    }

    .main-layout ul li .link {
        display: none;
    }

    .main-layout ul.footer {
        display: flex;
        height: 100px;
        bottom: 0;
        top: unset;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 16px;
    }

    .main-layout ul.footer li .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: $primary-fs;
    }

    .main-layout ul.footer img.icon-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 3px;
    }

    .main-layout .active-link {
        padding-bottom: 1px;
    }
}

@include media-breakpoint-down(sm) {
    .main-layout {
        padding-bottom: 90px;
    }

    .main-layout ul.footer {
        height: 90px;
    }

    .main-layout ul.footer img.icon-nav {
        width: 18px;
        height: 18px;
    }

    .main-layout ul.footer li .link {
        font-size: $font-xs;
    }
}
