.beam h4 {
    font-size: 20px;
    font-weight: bold;
}

.beam .ratings-number {
    color: #ffc107;
    font-size: 26px;
}

.beam .ratings-title {
    font-weight: bold;
    font-size: 14px;
}

.beam .amount-fiat {
    font-size: 30px;
    font-weight: normal;
}
