@import 'src/frontend-elements/styles/main';

.beam h4 {
    font-size: 20px;
    font-weight: bold;
}

.beam .ratings-number {
    color: #ffc107;
    font-size: 26px;
}

.beam .ratings-title {
    font-weight: bold;
    font-size: 14px;
}

.beam .amount-fiat {
    font-size: 30px;
    font-weight: normal;
}

.status-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-header .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
}

.status-header .date-badge {
    background-color: #D1E6FF;
    border-radius: 18px;
    padding: 5px 15px;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.status-update-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.beam-history .beam-content {
    margin-left: 0.5rem;
    padding-bottom: 1rem;
    width: 100%;
}

.beam-history .with-line {
    position: relative;
    padding-left: 2.5rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 1rem;
        width: 3px;
        height: 100%;
        z-index: 400;;
        background-color: black;
    }
} 

.status-update-card .status-update-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 2.40476px 14.4286px rgba(0, 0, 0, 0.12);
    margin-right: 3rem;
}

@include media-breakpoint-down(lg) {
    .status-update-card .status-update-icon {
        width: 50px;
        height: 50px;
        margin-right: 1rem;

        & img {
            width: 20px;
            height: 20px;
        }
    }

    .status-update-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .status-update-card h4 {
        @include font-size(1rem);
    }
}

@media (prefers-color-scheme: dark) {
    .status-update-card .status-update-icon {
        background-color: #1A1A1A;
    }

    .status-update-card .lum-logo {
        filter: brightness(0) invert(1);
    }
}