@import 'src/frontend-elements/styles/main';

.vote-option-green {
    color: $color-vote-green;
}

.vote-option-red {
    color: $color-vote-red;
}

.vote-option-yellow {
    color: $color-vote-yellow;
}

.vote-option-grey {
    color: $color-vote-grey;
}
