@import "src/frontend-elements/styles/main";

.app-message-type-badge {
    display: inline-block;
    border: solid 2px $color-type;
    border-radius: 20px;
    padding: 1px 14px;
    white-space: nowrap;
}

.app-message-type-badge > p.text-badge {
    color: $color-type;
    font-size: $font-sm;
}

.app-message-type-badge > p > img {
    height: 12px;
    width: 12px;
    margin-right: 6px;
}

.app-message-type {
    display: flex;
    align-items: center;
}

.app-message-type > p.text {
    color: $color-type;
    font-size: $font-xl;
    font-weight: $medium;
}

.app-message-type > p > img {
    height: 28px;
    width: 28px;
    margin-right: 8px;
}
