@import 'src/frontend-elements/styles/main';

.main-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-color: $color-background;
    padding-top: 112px;
}

.main-layout .testnet-header {
    background-color: #ffddd3;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
}

.main-layout .copyright {
    color: #b5b5b5;
    font-size: 12px;
    margin-right: 12px;
}

.main-layout .testnet-header > span {
    color: #ff7245;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    .main-layout {
        background-color: $color-dark-background;
    }
}

.main-layout .content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.main-layout .active-link .nav-title {
    opacity: 1 !important;
    font-weight: $semibold;
}

@mixin bar {
    height: 3px;
    width: 100%;
    background-color: $color-white;
    border-radius: 10px;
}

.main-layout .active-link .bar {
    @include bar;
}

.main-layout .active-link .bar-2 {
    @include bar;
    opacity: 0.6;
    filter: blur(5px);
}

.main-layout .active-link .bar-3 {
    @include bar;
    filter: blur(2px);
}

.main-layout .nav-title {
    color: $color-white;
    opacity: 0.6;
    text-decoration: none;
    font-size: $font-lg;
    display: flex;
    align-items: center;
    transition: all linear 150ms;
}

.main-layout .nav-title:hover {
    opacity: 1;
}

.main-layout .logo a {
    color: $color-white;
    display: flex;
    align-items: center;
}

.main-layout img.icon-nav {
    height: 18px;
    width: 18px;
    margin-right: 6px;
}

.main-layout .logo a img {
    height: 28px;
    width: 28px;
    margin-right: 6px;
}

.main-layout ul.nav {
    background-color: $color-primary;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
}

.main-layout ul.tab {
    display: none;
}

footer {
    display: flex;
    background-color: $color-primary;
    flex-shrink: 0;
    min-height: 100px;
}

.button-wallet {
    display: flex;
    padding: 8px 22px;
    background-color: $color-white;
    border-radius: 25px;
    cursor: pointer;
    transition: all linear 150ms;
    align-items: center;
    justify-content: center;
}

.button-wallet:hover {
    transform: scale(1.05);
}

.button-wallet > a,
.button-wallet > a:hover {
    color: $color-primary;
}

.button-wallet > a > img {
    margin-right: 8px;
}

.link-icon {
    width: 32px;
    height: 32px;
    opacity: 0.6;
    transition: all linear 150ms;
}

.link-icon:hover {
    opacity: 1;
}

@include media-breakpoint-down(xxl) {
    .main-layout .nav-title {
        font-size: $font-md;
    }

    .main-layout img.icon-nav {
        height: 16px;
        width: 16px;
        margin-right: 5px;
    }
}

@include media-breakpoint-down(xl) {
    .main-layout .nav-title {
        font-size: $primary-fs;
    }

    .main-layout img.icon-nav {
        height: 14px;
        width: 14px;
        margin-right: 4px;
    }
}

@include media-breakpoint-down(lg) {
    .main-layout .logo > a > h1 {
        display: none;
    }
    .main-layout .nav-title {
        font-size: $font-sm;
    }

    .main-layout .logo > a > img {
        margin-right: 12px;
    }

    .main-layout img.icon-nav {
        height: 12px;
        width: 12px;
        margin-right: 3px;
    }
}

@include media-breakpoint-down(md) {
    .main-layout {
        padding-top: 72px;
        padding-bottom: 100px;
    }

    .main-layout ul.nav {
        justify-content: center;
        height: 60px;
    }

    .main-layout .active-link .bar-2,
    .main-layout .active-link .bar-3 {
        display: none;
    }

    .main-layout ul.nav li .nav-title {
        display: none;
    }

    .main-layout ul.tab {
        display: flex;
        height: 100px;
        bottom: 0;
        top: unset;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 16px;
    }

    .main-layout ul.tab li .nav-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: $primary-fs;
    }

    .main-layout ul.tab img.icon-nav {
        width: 25px;
        height: 25px;
        margin-bottom: 3px;
    }

    .main-layout .active-link {
        padding-bottom: 1px;
    }
}

@include media-breakpoint-down(sm) {
    .main-layout {
        padding-bottom: 90px;
    }

    .main-layout ul.tab {
        height: 90px;
    }

    .main-layout ul.tab img.icon-nav {
        width: 18px;
        height: 18px;
    }

    .main-layout ul.tab li .nav-title {
        font-size: $font-xs;
    }
}

@include media-breakpoint-up(xxl) {
    .container {
        width: 90% !important;
        max-width: 2000px !important;
    }
}
