@import 'src/frontend-elements/styles/main';

.list-id {
    font-weight: $medium;
}

.border-vote-green {
    border-left: solid 3px $color-vote-green;
}

.border-vote-red {
    border-left: solid 3px $color-vote-red;
}

.border-vote-yellow {
    border-left: solid 3px $color-vote-yellow;
}

.border-vote-grey {
    border-left: solid 3px $color-vote-grey;
}
