@import 'src/frontend-elements/styles/main';

.list-id {
    font-weight: $medium;
}

.border-vote-green {
    border-left: solid 3px $color-vote-green;
}

.border-vote-red {
    border-left: solid 3px $color-vote-red;
}

.border-vote-yellow {
    border-left: solid 3px $color-vote-yellow;
}

.border-vote-grey {
    border-left: solid 3px $color-vote-grey;
}

.pagination-deposits {
    position: absolute;
    right: 1rem;
    bottom: 4rem;
}

@include media-breakpoint-down(sm) {
    .pagination-deposits {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
    }
}

@include media-breakpoint-down(xxl) {
    .pagination-deposits {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
}
