@import "src/styles/main";

.app-card {
    background-color: $color-white;
    box-shadow: 0 3.32571px 14.9657px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    opacity: 0;
    animation: cardShow ease-out 400ms forwards;
}

.app-card.flat {
    background-color: $color-striped;
    padding: 24px !important;
    box-shadow: none;
}

.app-card.dark {
    background-color: $color-primary;
    color: $color-white !important;
}

.badge-position {
    position: absolute;
    right: 12px;
    top: 12px;
}

@media (prefers-color-scheme: dark) {
    .app-card {
        background-color: $color-primary;
        color: $color-white;
    }

    .app-card.flat {
        background-color: $color-dark-striped;
    }
}

@keyframes cardShow {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
